.select-box {
  display: flex;
  flex-direction: column-reverse;
  position: relative;
  width: 32px;
  margin-left: 1rem;
}
.options-container {
  background-color: #607196;
  width: 125px;
  position: relative;
  left: 0;
  transform: translate(-35%, 0);
  margin-top: 5px;

  max-height: 0px;
  border-radius: 5px;
  overflow: hidden;
  opacity: 0;
  transition: all 0.4s ease;

  color: #e8e9ed;
  text-align: center;
}

.options-container.active {
  max-height: 500px;
  opacity: 1;
}
.option {
  padding: 0.35rem 0.5rem;
  cursor: pointer;

  transition: all 0.2s ease;

  font-size: 0.75em;

  &:hover {
    background-color: #babfd1;
  }
}

.active-option {
  background-color: #8289a3;
  &:hover {
    background-color: #8289a3;
  }
}

#filter-box .selected-btn::after {
  background-image: url("../assets/filter.svg");
  content: " ";
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;

  height: 100%;

  top: 50%;
  left: 50%;

  transform: translate(-50%, -40%);

  transition: all 0.2s ease;

  width: 25px;
  height: 25px;

  pointer-events: none;
}

#sort-box .selected-btn::after {
  background-image: url("../assets/sort-result.svg");
  content: " ";
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;

  height: 100%;

  top: 50%;
  left: 50%;

  transform: translate(-40%, -50%);

  transition: all 0.2s ease;

  width: 25px;
  height: 25px;

  pointer-events: none;
}

.selected-btn {
  width: 42px;
  height: 42px;
  border-radius: 5px;
  cursor: pointer;

  background-color: #607196;

  transition: all 0.2s ease-in-out;

  &:hover {
    background-color: #889ac2 !important;
  }

  position: relative;
}
