@import "./items";
@import "./input";
@import "./select-box";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: cadetblue;
  font-family: "Ubuntu", sans-serif;
}

main {
  width: 50%;
  margin: auto;
  display: flex;
  flex-direction: column;

  align-items: center;
}

.rename-item-screen {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .rename-buttons {
    display: flex;
  }

  background-color: rgba(255, 0, 0, 0.5);

  opacity: 0;
  pointer-events: none;
}

.show-rename {
  opacity: 1;
  pointer-events: initial;
}
