@import "./items";
@import "./input";
@import "./select-box";
@import "./rename";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #e8e9ed;
  font-family: "Ubuntu", sans-serif;
}

main {
  width: 50%;
  margin: auto;
  display: flex;
  flex-direction: column;

  align-items: center;
}

@media only screen and (max-width: 900px) {
  main {
    width: 90%;
  }
}
